speech_recognition==3.8.1
pyttsx3==2.90
wget==3.2
webbrowser==0.5.1
psutil==5.8.0
requests==2.25.1
llama-index==0.4.11
re==2.2.1
time==0.0.0
subprocess==3.5.4
ast==0.0.0
inspect==0.0.0
codeop==0.0.0
sqlite3==2.6.0
socket==0.2.2
